.bfgl{
  padding: 22px 35px 0 26px;
  .handle{
    margin-bottom: 23px;
    .ant-tag{
      width: 138px;
      height: 37px;
      line-height: 37px;
      text-align: center;
      margin-right: 22px;
    }
  }
}