.el-head{
    height: 25px;
    background: #c8dbf9;
    margin-bottom: 1px; 
    display: flex;
    font-size: 11px;
    padding: 0 1%;
    line-height: 25px;
    p{
        margin-right: 10px;
    }
}