.khlb{
  padding-top: 22px;
  .handle{
    padding-left: 22px;
    .ant-tag{
      width: 67px;
      height: 29px;
      line-height: 29px;
      text-align: center;
      margin-right: 13px;
      i{
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
  .tab{
    margin: 10px 0 9px;
  }
  .tableBox{
    margin: 0 10px 0 16px;
  }
}